form {
  margin-top: 2rem;
  max-width: 640px;
}

input,
textarea {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.75rem;
  border-radius: 4px;
  border: var(--border-light);
  font-family: inherit;
}

textarea {
  min-height: 110px;
}

