api:
  dashboard: true
  insecure: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"

  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

  file:
    directory: /dynamic
    watch: true

certificatesResolvers:
  letsencryptresolver:
    acme:
      email: ${EMAIL}
      storage: /acme.json
      httpChallenge:
        entryPoint: web
