.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--black);
  border-bottom: var(--border);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

